.git
.github
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.venv
node_modules
ui/chatbot-react/node_modules
ui/chatbot-react/dist
data
uploads
logs
models
*.log
.env
__tests__
tests
*.sqlite
*.db
*.faiss
*.pkl
*.onnx
.DS_Store

